.task-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 50px;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.active {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  &.card-small {
    height: 16px;
    width: 168px;
  }
}
