<mat-list>
  <mat-list-item *ngFor="let activity of activities">
    <img matListAvatar [src]="activity.user.photoURL" />
    <h3 matLine>{{ activity.task.name }}</h3>
    <p class="meta" matLine *ngIf="activity.meta">
      <span class="meta-item" *ngFor="let selection of activity.meta">{{ selection }}</span>
    </p>
    <p matLine>{{ activity.timestamp.toDate() | dateAgo }}</p>
    <button mat-icon-button (click)="onDelete(activity)" *ngIf="canDelete(activity)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
