<app-page-title>
  <a [routerLink]="['/tasks']">Tasks</a>
  <span>Task erledigen</span>
</app-page-title>
<div class="container" *ngIf="task">
  <h2>{{ task.name }}</h2>
  <div>
    <button mat-flat-button color="primary" (click)="submit()" [disabled]="posting$ | async">
      Erledigt <mat-icon>done</mat-icon>
    </button>
  </div>

  <h4>Letzte Einträge</h4>

  <mat-list>
    <mat-list-item *ngFor="let activity of activities">
      <img mat-list-icon [src]="activity.user.photoURL" />
      <h3 matLine>{{ activity.user.displayName }}</h3>
      <p matLine>{{ activity.timestamp.toDate() | dateAgo }}</p>
    </mat-list-item>
  </mat-list>
</div>
