<app-page-title>
  <a [routerLink]="['/tasks']">Tasks</a>
  <span>Task erledigen</span>
</app-page-title>
<div class="container" *ngIf="task" style="margin-bottom: 30px;">
  <h2>{{ task.name }}</h2>
  <mat-selection-list
    [(ngModel)]="metaSelections"
    *ngIf="task.meta.type === 'select'"
    class="meta-select"
  >
    <mat-list-option
      *ngFor="let option of task.meta.select_options"
      [value]="option"
    >
      {{ option }}
    </mat-list-option>
  </mat-selection-list>

  <mat-form-field *ngIf="task.meta.type === 'input'">
    <input
      matInput
      placeholder="Info"
      type="text"
      [(ngModel)]="metaSelections[0]"
    />
  </mat-form-field>

  <div>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="posting$ | async"
      class="submit-button"
    >
      Jetzt Erledigt
    </button>
  </div>
</div>

<ng-container *ngIf="activities?.length > 0">
  <div class="container">
    <h4 class="title">Letzte Einträge</h4>
  </div>
  <app-activity-list
    [activities]="activities"
    (delete)="onDeleteActivity($event)"
  ></app-activity-list>
</ng-container>
