<div class="app">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <a class="app-name" [routerLink]="['/']">WG Done</a>
    <app-user-profile></app-user-profile>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="over">
      <mat-nav-list>
        <a [routerLink]="['/tasks']" mat-list-item>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <p matLine>Tasks</p>
        </a>
        <a [routerLink]="['/activities']" mat-list-item>
          <mat-icon mat-list-icon>done_all</mat-icon>
          <p matLine>Activities</p>
        </a>
        <a [routerLink]="['/user/activities']" mat-list-item>
          <mat-icon mat-list-icon>assignment_ind</mat-icon>
          <p matLine>My Activities</p>
        </a>
      </mat-nav-list>
      <div class="drawer-footer">
        <button mat-flat-button class="logout-button" color="primary" (click)="logout()">
          Logout
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
