.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar > .mat-icon-button:first-child {
  margin-right: 1rem;
}

.mat-sidenav-container {
  flex: 1;
}

.mat-sidenav {
  width: 250px;
}

:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.drawer-footer {
  padding: 1rem;
  margin-top: auto;
}

.logout-button {
  width: 100%;
}
