@import 'scss/vendor/bootstrap-grid.min.css';

@import 'util/variables';
@import 'util/mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
